data/raw/*dat*
nohup*
*.log
data/raw/*.xcf
data/raw/*.tiff
data/raw/*.TIFF
data/raw/*.PNG
data/raw/*.png
data/raw/*.jpg
data/processed/*.out*
data/processed/*.hist
data/processed/*.diff
.nfs00*
*.swp
