data_container/raw/*dat*
nohup*
*.log
data_container/raw/*.xcf
data_container/raw/*.tiff
data_container/raw/*.TIFF
data_container/raw/*.PNG
data_container/raw/*.png
data_container/raw/*.jpg
data_container/processed/*.innerprod
data_container/processed/*.out*
data_container/processed/*.hist
data_container/processed/*.diff
.nfs00*
*.swp
data_container/raw/refsub/*.dat*
data_container
data_fs
nothing
spatial/out*
spatial/gen
spatial/target
spatial/project

